/*AQUI ESTÂO AS CLASSES DOS COMPONENTES */

/* Testes */

/*
.xxxm{
    background:	#E8E8E8;
    
}

.header-top {
    background: #9c5058; !important
    background-color: #9c5058;
    color:#fff;
    height: 35px;
}

.header-top > nav{
    color:#fff
}

img-dest{
    background-image: url(https://css-tricks.com/examples/LayeredLook/img/photo-sedona_512x320.jpg);
    background-color: #cccccc;
}

*/

/* ================================================================== */
/* Customização */
/* ================================================================== */

/*Section */

section{
    padding-top: 10px; padding-bottom: 30px;
}


/* Barra Topo */

.barra-topo{
    height: 50px;
    background-color: #9c5058;
}

.barra-topo a{
    padding-top: 10px;
    padding-bottom: 10px;
    color:#ffffff; 
    font-size: 13px;
}

.barra-topo container{
    color:#ffffff;
}

/* ================================================================== */
/* Componentes */
/* ================================================================== */


/* Destaque Texto Centralizado */
.texto_destaque{
    text-align: center;
}

.texto_destaque h1{
    font-family: Open Sans ExtraBold, Open Sans, Arial;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 20px;
}

.texto_destaque p{
    font-family: Open Sans, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}


.destaque_img{
    border-radius: 0;
    padding: 0;
    
}




/* Custom Forms */

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
   
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-3{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
 
.container-3 input#search{
  /*width: 200px;
  height: 100%;
  background: #fff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 30px;
  color: #9c5058;*/
  width: 300px;
  height: 50px;
  background: #fff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 25px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #9c5058;

}

.container-3 glyphicon glyphicon-search{
    color:#9c5058;
}

.container-3 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-3 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-3 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-3 .icon{
  position: absolute;
  top: 50%;
  margin-left: 250px;
  margin-top: 17px;
  z-index: 1;
  color: #9c5058;
 
   -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.navbar-form container-3{
    margin:0;
    
}


/* Menu principal */

.main-menu{
    height: 93px;
}

.main-menu-mid{
    padding-top: 15px;
}

.main-menu-font{
    font-family: Open Sans, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color:#9c5058;
}

.navbar-collapse a{ 
    color:#96454d; 
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a{
    color:#96454d;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#a2a2a2;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color:#a85a61; 
}


/* Imagens */

.image-responsive-width {
    width: 100%;
}

.img-nopadding{
    padding: 0px;
}
.hover-effect-img {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.overlayer {
    position: absolute;
    display: block;
    z-index: 80;
}

.bottom-left {
    position: absolute;
    bottom: 1px;
    left: 0;
}



/* destaques principais */


.container row col-md-4 destaque-fundo-1{padding: 0; padding-left: 0;padding-right: 0;}
.jumbotron destaque-1{border-radius: 0;}
.categoria-destaque-1{height:130px; }
.texto-categoria{text-transform:uppercase; color:#a85a61;}
.jumbotron destaque-1 h2{font-weight: bold;}
.imagem-destaque-1{width: 100%; z-index: -1;}



/*          CARDS      */


.card h1, .card .h1, .card h2, .card .h2, .card h3, .card .h3, .card h4, .card .h4, .card h5, .card .h5, .card h6, .card .h6, .card p, .card .navbar, .card .brand, .card .btn, .card a, .card .td-name, .card td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans","Raleway","Helvetica Neue",Arial,sans-serif;
}

.card .category,
.card .label,
.card .title-modern,
.card .btn-modern,
.card .price h4 {
font-family: "Open Sans","Raleway","Helvetica","Arial", sans-serif;
}

.card{
    padding: 0;
    margin: 0;
    max-width: none;
    border-radius: 0;
    height: 468px;
}
.card-box{
    padding: 0;
    margin: 0;
}

.card .content {
  padding: 5px 20px 30px 20px;
}

.header .category{
    padding-top: 500px;
}

.card .header .category {
  padding: 35px 25px;
}

.card:hover, .card:focus {
  color: #9c5058;
}

.card .filter, .card .header .actions{
    position: absolute;
    z-index: 2;
    background-color: rgba(156,80,88,1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;        
}

.card[data-background="image"] .filter{
    opacity: 0.30;
    filter: alpha(opacity=30.0);
}


/* banner topo */

.carousel-inner .item img {
   
}




/* Anúncio 1170x220 */




